@using TaskBoard.Models
@model IEnumerable<TaskBoard.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (Project project in Model)
{
    <div>
        @Html.ActionLink(project.Name, "TaskBoard", "TaskBoard", new { projectId = project.ProjectId }, null);
        <p></p>
    </div>
}