<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Task Board Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
       
        <meta name="viewport" content="width=device-width" />
        <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                
            });
        </script>
        <link href="~/CSS/Site.css" rel="stylesheet" media="screen" type="text/css"/>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/overcast/jquery-ui.css" rel="stylesheet" media="screen" type="text/css"/>
    </head>
    <body>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        
    </body>
</html>