<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Task Board Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
       
        <meta name="viewport" content="width=device-width" />
        <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
         <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" type="text/css" rel="Stylesheet" />
        <script type='text/javascript'>
            $(document).ready(function () {
                $(".task").draggable();
                $(".taskColumn").resizable({ handles: "e" });

                $(".task").click(function () {
                    $(this).remove();
                });
                $("#planning").droppable({
                    drop: function (event, ui) {
                        $("#planningStatusMsg").text("Task moved to planning. Top:" + ui.position.top.toString() + " Left: " + ui.position.left.toString());
                    }
                });
                $("#addNewTaskButton").click(function (evt) {
                    evt.preventDefault();
                    $("body").append("<div class='task' style='position: absolute; top: 12px; left: 3px;'><p>New Task</p></div>");
                    $(".task").draggable();
                });

            });
        </script>
        <link href="~/CSS/Site.css" rel="stylesheet" media="screen" type="text/css"/>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/overcast/jquery-ui.css" rel="stylesheet" media="screen" type="text/css"/>
    </head>
    <body>
        
        <div id="mainContent">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        
    </body>
</html>